@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
	
}
background{
	background-color: black
}

nav{
	
	display: flex;
	justify-content: space-around;
	align-items:center;
	min-height: 8vh;
	background-color: black;

}

.logo{
	color:white;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 38px;
	font-weight: bold;
	font-family: 'Libre Barcode 39 Text', cursive;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 40%;
	
}
.nav-links li {
	list-style: none;
	
}
.nav-links a{
	color:white;
	text-decoration: none;
	letter-spacing: 5px;
	font-size: 20px;
	font-family: 'Big Shoulders Display', cursive;
}
	
.burger{
		
display:none;
cursor: pointer;
	
}
.burger div {
	width: 10px;
    height: 5px;
	background-color:white;
	margin: 6px;
}

@media screen and (max-width:1024px){
	.nav-links{
	width: 60%;
	}

@media screen and (max-width:786px){
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height:92vh;
		top: 8vh;
		background-color: #080726;
		display: flex;
		flex-direction: column;
		align-items:center;
		width: 50%;
		transform:translateX(100%);
		transition: transform 0.5s ease-in;
		
	}
	.nav-links li {
		opacity: 0;
		}
	.burger {
		display: block;
	}
	}
	.nav-active{
		transform:translateX(0%);
		
			
	
	}  }
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform:translateX(0px);
		
	}
				
	
		}